# Clerk

NEXT_PUBLIC_CLERK_SIGN_IN_URL = "/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL = "/auth/sign-up"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW50ZXJuYWwtZWdyZXQtMjkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ZJovkZafoaoBIPTyTP4Lj2ko6Xqm1I2k2K507KuSuW

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = "/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = "/dashboard/overview"